nav.navbar.is-primary
    .container
        .navbar-brand
            a.navbar-item
                img(src='/static/logo/octolion-white@2x.png' width='100' height='20')
        .navbar-menu
            .navbar-end
                .navbar-item
                    span.icon.is-large
                        i.fas.fa-shopping-cart.fa-1x